/* src/TabsComponent.css */
.tabs-container {
  position: relative;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  display: flex;
  
  flex-direction: column;
  align-items: flex-start;


}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  margin-left: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  right: -200px; /* Start off-screen */
  opacity: 0;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
  text-decoration: none;
  color: #333;
  width: 250px;
}

.tab.show {
  right: 0;
  opacity: 1;
}

.tab:hover {
  background-color: #ddd;
}

.tab-image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 4px;
}

.tabs-container img {
  
  height: auto;
  object-fit: cover;
}